<div id="<%= dom_id rating %>">
  <p>
    <strong>Stars:</strong>
    <%= rating.stars %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= rating.comment %>
  </p>

  <p>
    <strong>User:</strong>
    <%= rating.user_id %>
  </p>

  <p>
    <strong>post_id:</strong>
    <%= rating.post_id %>
  </p>

</div>
